@{
    ViewBag.Title = "Conference";
}

<h3>Conference setup</h3>

<div class="row-fluid">
    <label>Name: </label>
    <input type="text" class="input-xlarge" data-bind="value: name"/>

    <label>Country: </label>
    <select data-bind="options: countries, optionsValue: 'id', optionsText: 'text',
                       value: country,
                       select2: { formatResult: formatCountry, formatSelection: formatCountry }"
        class="input-xlarge"></select>    
</div>

@section scripts
{
    <script type="text/javascript">

        (function() {
            var ViewModel = function() {
                var self = this;

                self.name = ko.observable('Microsoft NetWork 2013');
                self.countries = [
                    { id: 'ad', text: 'Andorra' },
                    { id: 'ae', text: 'United Arab Emirates' },
                    { id: 'af', text: 'Afghanistan' },
                    { id: 'ag', text: 'Antigua and Barbuda' },
                    { id: 'ai', text: 'Anguilla' },
                    { id: 'al', text: 'Albania' },
                    { id: 'am', text: 'Armenia' },
                    { id: 'ao', text: 'Angola' },
                    { id: 'ar', text: 'Argentina' },
                    { id: 'as', text: 'American Samoa' },
                    { id: 'at', text: 'Austria' },
                    { id: 'au', text: 'Australia' },
                    { id: 'aw', text: 'Aruba' },
                    { id: 'az', text: 'Azerbaijan' },
                    { id: 'ba', text: 'Bosnia and Herzegovina' },
                    { id: 'bb', text: 'Barbados' },
                    { id: 'bd', text: 'Bangladesh' },
                    { id: 'be', text: 'Belgium' },
                    { id: 'bf', text: 'Burkina Faso' },
                    { id: 'bg', text: 'Bulgaria' },
                    { id: 'bh', text: 'Bahrain' },
                    { id: 'bi', text: 'Burundi' },
                    { id: 'bj', text: 'Benin' },
                    { id: 'bm', text: 'Bermuda' },
                    { id: 'bn', text: 'Brunei' },
                    { id: 'bo', text: 'Bolivia' },
                    { id: 'br', text: 'Brazil' },
                    { id: 'bs', text: 'Bahamas' },
                    { id: 'bt', text: 'Bhutan' },
                    { id: 'bv', text: 'Bouvet Island' },
                    { id: 'bw', text: 'Botswana' },
                    { id: 'by', text: 'Belarus' },
                    { id: 'bz', text: 'Belize' },
                    { id: 'ca', text: 'Canada' },
                    { id: 'cd', text: 'Congo, the Democratic Republic of the' },
                    { id: 'cf', text: 'Central African Republic' },
                    { id: 'cg', text: 'Congo' },
                    { id: 'ch', text: 'Switzerland' },
                    { id: 'ci', text: 'Cote d\'Ivore' },
                    { id: 'ck', text: 'Cook Islands' },
                    { id: 'cl', text: 'Chile' },
                    { id: 'cm', text: 'Cameroon' },
                    { id: 'cn', text: 'China' },
                    { id: 'co', text: 'Colombia' },
                    { id: 'cr', text: 'Costa Rica' },
                    { id: 'cu', text: 'Cuba' },
                    { id: 'cv', text: 'Cape Verde' },
                    { id: 'cw', text: 'Curacao' },
                    { id: 'cy', text: 'Cyprus' },
                    { id: 'cz', text: 'Czech Republic' },
                    { id: 'de', text: 'Germany' },
                    { id: 'dj', text: 'Djibouti' },
                    { id: 'dk', text: 'Denmark' },
                    { id: 'dm', text: 'Dominica' },
                    { id: 'do', text: 'Dominican Republic' },
                    { id: 'dz', text: 'Algeria' },
                    { id: 'ec', text: 'Ecuador' },
                    { id: 'ee', text: 'Estonia' },
                    { id: 'eg', text: 'Egypt' },
                    { id: 'eh', text: 'Western Sahara' },
                    { id: 'er', text: 'Eritrea' },
                    { id: 'es', text: 'Spain' },
                    { id: 'et', text: 'Ethiopia' },
                    { id: 'eu', text: 'European Union' },
                    { id: 'fi', text: 'Finland' },
                    { id: 'fj', text: 'Fiji' },
                    { id: 'fk', text: 'Falkland Islands' },
                    { id: 'fm', text: 'Micronesia' },
                    { id: 'fo', text: 'Faroe Islands' },
                    { id: 'fr', text: 'France' },
                    { id: 'ga', text: 'Gabon' },
                    { id: 'gb', text: 'United Kingdom' },
                    { id: 'gd', text: 'Grenada' },
                    { id: 'ge', text: 'Georgia' },
                    { id: 'gf', text: 'French Guiana' },
                    { id: 'gg', text: 'Guernsey' },
                    { id: 'gh', text: 'Ghana' },
                    { id: 'gi', text: 'Gibraltar' },
                    { id: 'gl', text: 'Greenland' },
                    { id: 'gm', text: 'Gambia' },
                    { id: 'gn', text: 'Guinea' },
                    { id: 'gp', text: 'Guadeloupe' },
                    { id: 'gq', text: 'Equatorial Guinea' },
                    { id: 'gr', text: 'Greece' },
                    { id: 'gs', text: 'South Georgia' },
                    { id: 'gt', text: 'Guatemala' },
                    { id: 'gu', text: 'Guam' },
                    { id: 'gw', text: 'Guinea-Bissau' },
                    { id: 'gy', text: 'Guyana' },
                    { id: 'hk', text: 'Hong Kong' },
                    { id: 'hm', text: 'Heard Island and McDonald Islands' },
                    { id: 'hn', text: 'Honduras' },
                    { id: 'hr', text: 'Croatia' },
                    { id: 'ht', text: 'Haiti' },
                    { id: 'hu', text: 'Hungary' },
                    { id: 'id', text: 'Indonesia' },
                    { id: 'ie', text: 'Ireland' },
                    { id: 'il', text: 'Israel' },
                    { id: 'im', text: 'Isle of Man' },
                    { id: 'in', text: 'India' },
                    { id: 'io', text: 'British Indian Ocean Territory' },
                    { id: 'iq', text: 'Iraq' },
                    { id: 'ir', text: 'Iran' },
                    { id: 'is', text: 'Iceland' },
                    { id: 'it', text: 'Italy' },
                    { id: 'je', text: 'Jersey' },
                    { id: 'jm', text: 'Jamaica' },
                    { id: 'jo', text: 'Jordan' },
                    { id: 'jp', text: 'Japan' },
                    { id: 'ke', text: 'Kenya' },
                    { id: 'kg', text: 'Kyrgyzstan' },
                    { id: 'kh', text: 'Cambodia' },
                    { id: 'ki', text: 'Kiribati' },
                    { id: 'km', text: 'Comoros' },
                    { id: 'kn', text: 'Saint Kitts and Nevis' },
                    { id: 'kp', text: 'Korea, Democratic People\'s Republic of' },
                    { id: 'kr', text: 'Korea, Republic of' },
                    { id: 'kw', text: 'Kuwait' },
                    { id: 'ky', text: 'Cayman Islands' },
                    { id: 'kz', text: 'Kazakhstan' },
                    { id: 'la', text: 'Lao People\'s Democratic Republic' },
                    { id: 'lb', text: 'Lebanon' },
                    { id: 'lc', text: 'Saint Lucia' },
                    { id: 'li', text: 'Liechtenstein' },
                    { id: 'lk', text: 'Sri Lanka' },
                    { id: 'lr', text: 'Liberia' },
                    { id: 'ls', text: 'Lesotho' },
                    { id: 'lt', text: 'Lithuania' },
                    { id: 'lu', text: 'Luxembourg' },
                    { id: 'lv', text: 'Latvia' },
                    { id: 'ly', text: 'Libya' },
                    { id: 'ma', text: 'Morocco' },
                    { id: 'mc', text: 'Monaco' },
                    { id: 'md', text: 'Moldova, Republic of' },
                    { id: 'me', text: 'Montenegro' },
                    { id: 'mg', text: 'Madagascar' },
                    { id: 'mh', text: 'Marshall Islands' },
                    { id: 'mk', text: 'Macedonia, the former Yugoslav Republic of' },
                    { id: 'ml', text: 'Mali' },
                    { id: 'mm', text: 'Myanmar' },
                    { id: 'mn', text: 'Mongolia' },
                    { id: 'mo', text: 'Macao' },
                    { id: 'mp', text: 'Northern Mariana Islands' },
                    { id: 'mq', text: 'Martinique' },
                    { id: 'mr', text: 'Mauritania' },
                    { id: 'ms', text: 'Montserrat' },
                    { id: 'mt', text: 'Malta' },
                    { id: 'mu', text: 'Mauritius' },
                    { id: 'mv', text: 'Maldives' },
                    { id: 'mw', text: 'Malawi' },
                    { id: 'mx', text: 'Mexico' },
                    { id: 'my', text: 'Malaysia' },
                    { id: 'mz', text: 'Mozambique' },
                    { id: 'na', text: 'Namibia' },
                    { id: 'nc', text: 'New Caledonia' },
                    { id: 'ne', text: 'Niger' },
                    { id: 'nf', text: 'Norfolk Island' },
                    { id: 'ng', text: 'Nigeria' },
                    { id: 'ni', text: 'Nicaragua' },
                    { id: 'nl', text: 'Netherlands' },
                    { id: 'no', text: 'Norway' },
                    { id: 'np', text: 'Nepal' },
                    { id: 'nr', text: 'Nauru' },
                    { id: 'nu', text: 'Niue' },
                    { id: 'nz', text: 'New Zealand' },
                    { id: 'om', text: 'Oman' },
                    { id: 'pa', text: 'Panama' },
                    { id: 'pe', text: 'Peru' },
                    { id: 'pf', text: 'French Polynesia' },
                    { id: 'pg', text: 'Papua New Guinea' },
                    { id: 'ph', text: 'Philippines' },
                    { id: 'pk', text: 'Pakistan' },
                    { id: 'pl', text: 'Poland' },
                    { id: 'pm', text: 'Saint Pierre and Miquelon' },
                    { id: 'pn', text: 'Pitcairn' },
                    { id: 'pr', text: 'Puerto Rico' },
                    { id: 'ps', text: 'Palestine, State of' },
                    { id: 'pt', text: 'Portugal' },
                    { id: 'pw', text: 'Palau' },
                    { id: 'py', text: 'Paraguay' },
                    { id: 'qa', text: 'Qatar' },
                    { id: 're', text: 'Reunion' },
                    { id: 'ro', text: 'Romania' },
                    { id: 'rs', text: 'Serbia' },
                    { id: 'ru', text: 'Russian Federation' },
                    { id: 'rw', text: 'Rwanda' },
                    { id: 'sa', text: 'Saudi Arabia' },
                    { id: 'sb', text: 'Solomon Islands' },
                    { id: 'sc', text: 'Seychelles' },
                    { id: 'sd', text: 'Sudan' },
                    { id: 'se', text: 'Sweden' },
                    { id: 'sg', text: 'Singapore' },
                    { id: 'sh', text: 'Saint Helena' },
                    { id: 'si', text: 'Slovenia' },
                    { id: 'sk', text: 'Slovakia' },
                    { id: 'sl', text: 'Sierra Leone' },
                    { id: 'sm', text: 'San Marino' },
                    { id: 'sn', text: 'Senegal' },
                    { id: 'so', text: 'Somalia' },
                    { id: 'sr', text: 'Suriname' },
                    { id: 'ss', text: 'South Sudan' },
                    { id: 'st', text: 'Sao Tome and Principe' },
                    { id: 'sv', text: 'El Salvador' },
                    { id: 'sx', text: 'Sint Maarten' },
                    { id: 'sy', text: 'Syrian Arab Republic' },
                    { id: 'sz', text: 'Swaziland' },
                    { id: 'tc', text: 'Turks and Caicos Islands' },
                    { id: 'td', text: 'Chad' },
                    { id: 'tf', text: 'French Southern Territories' },
                    { id: 'tg', text: 'Togo' },
                    { id: 'th', text: 'Thailand' },
                    { id: 'tj', text: 'Tajikistan' },
                    { id: 'tk', text: 'Tokelau' },
                    { id: 'tl', text: 'Timor-Leste' },
                    { id: 'tm', text: 'Turkmenistan' },
                    { id: 'tn', text: 'Tunisia' },
                    { id: 'to', text: 'Tonga' },
                    { id: 'tr', text: 'Turkey' },
                    { id: 'tt', text: 'Trinidad and Tobago' },
                    { id: 'tv', text: 'Tuvalu' },
                    { id: 'tw', text: 'Taiwan, Province of China' },
                    { id: 'tz', text: 'Tanzania, United Republic of' },
                    { id: 'ua', text: 'Ukraine' },
                    { id: 'ug', text: 'Uganda' },
                    { id: 'um', text: 'United States Minor Outlying Islands' },
                    { id: 'us', text: 'United States of America' },
                    { id: 'uy', text: 'Uruguay' },
                    { id: 'uz', text: 'Uzbekistan' },
                    { id: 'va', text: 'Vatican' },
                    { id: 'vc', text: 'Saint Vincent and the Grenadines' },
                    { id: 've', text: 'Venezuela, Bolivarian Republic of' },
                    { id: 'vg', text: 'Virgin Islands, British' },
                    { id: 'vi', text: 'Virgin Islands, US' },
                    { id: 'vn', text: 'Viet Nam' },
                    { id: 'vu', text: 'Vanuatu' },
                    { id: 'wf', text: 'Wallis and Futuna' },
                    { id: 'ws', text: 'Samoa' },
                    { id: 'ye', text: 'Yemen' },
                    { id: 'yt', text: 'Mayotte' },
                    { id: 'za', text: 'South Africa' },
                    { id: 'za', text: 'Zambia' },
                    { id: 'zw', text: 'Zimbabwe' }
                ];

                self.country = ko.observable('ba');

                self.formatCountry = function(country) {
                    if (!country.id) return country.text;
                    return '<i class="flag flag-' + country.id + '"></i>' + country.text;
                };
            };

            ko.applyBindings(new ViewModel());
        } ());

    </script>
}
