.right, .table th.right, table td.right {
    text-align: right;
}

.table select {
    margin-bottom: 0;
}

.table td > span {
    display: inline-block;
    padding-top: 4px;
}

.validationMessage {
    color: #f00;
    display: inline-block;
    margin-left: 10px;
}